
<div *ngIf="commissionGroup">
    <h2><span>Commission Group</span> {{commissionGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{commissionGroup.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{commissionGroup.description}}</span>
        </dd>
        <dt><span>Commission</span></dt>
        <dd>
            <span>{{commissionGroup.commission}}</span>
        </dd>
        <dt><span>Authority</span></dt>
        <dd>
            <span>{{commissionGroup.authority}}</span>
        </dd>
        <dt><span>Operator</span></dt>
        <dd>
            <div *ngIf="commissionGroup.operatorId">
                <a [routerLink]="['/operator', commissionGroup.operatorId]">{{commissionGroup.operatorName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'commission-group/'+ commissionGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
